html {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.nav-container {
  margin: 0;
  width: 100vw;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 30px;
  background-color: cornflowerblue;
  margin: 0;
}

.footer-container {
  margin: 0;
}

.footer {
  ;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1860px;
  padding: 10px 30px;
  background-color: cornflowerblue;
  margin: 0;
  position: absolute;
  bottom: 0;
}


